@import "animations";
@import "octicons";

$vault: #00ABE0;

body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    color: #222;
    font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
}


header {
    height: 20px;
    margin-bottom: 50px;
}

.container {
    min-width: 800px;
    display: table;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

a, a.visited {
    color: $vault;
    text-decoration: none;
}

.overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.overflow:hover {
    text-overflow: visible;
    overflow: visible;
}

.modal {
    width: 400px;
    height: auto;
    margin: 200px auto 0 auto;
    display: table;
}

.modal pre {
    float: left;
    font-size: 12px;
    width: 100%;
    display: inline-block;
}

.modal-icon {
    float: left;
    width: 50px;
    height: 100px;
    padding-top: 27px;
    display: inline-block;
    padding-right: 30px;
    margin-left: 50px;
    border-right: 1px #eee solid;

    .mega-octicon {
        font-size: 60px;
    }
}

.modal-description {
    float: left;
    padding-top: 4px;
    padding-left: 20px;
    width: 200px;
    display: inline-block;
}

p.small {
    font-size: 12px;
    color: #999;
}

.content {
}

/*
    template: vault-sealed
*/

.unseal-progress {
    font-size: 22px;
}

.unseal-message {
    font-size: 14px;
    margin-top: 0px;
}

.unseal-lock {
  background-image:
    linear-gradient(
      to bottom,
      #000 100%,
      $vault 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*
    template: sidebar
*/

.sidebar {
    width: 100px;
    height: 300px;
}

.sidebar-logo {
    background: url("/icon.png") center no-repeat;
    background-size: 25px;
    height: 25px;
    width: 25px;
}
