<div class="modal modal-error">
    <div class="modal-logo">
    </div>

    <div class="modal-description">
        Vault UI encountered an error
        <pre>{{model.statusText}} ({{model.status}})</pre>
        <p class="small">If you believe this is an issue in Vault or the UI,
        please <a href="https://github.com/hashicorp/vault/issues/new">report it</a>.</p>
    </div>
</div>
