<div class="sidebar">
    <div class="logo"></div>
    {{#link-to "vault"}}<h3>Vault</h3>{{/link-to}}
    <ul class="menu">
        <li>{{#link-to "vault.logs"}}Logs{{/link-to}}</li>
        <li>{{#link-to "vault.mounts"}}Mounts{{/link-to}}</li>
    </ul>
</div>
