<div class="modal modal-sealed">
    <div class="modal-icon">
        {{seal-lock progress=model.progress total=model.t}}
    </div>

    <div class="modal-description">
        <div class="unseal-progress">
            <strong>{{model.progress}}</strong> / {{model.t}}
        </div>
        <p class="unseal-message">
            key shards entered towards unseal
        </p>

        <p class="small">
            To learn more about Vault's sealed state,
            visit <a href="">the documentation</a>.
        </p>
    </div>
</div>
